#family {
 font-family: "Rubik Wet Paint", serif;
}
#family {
    font-family: "Rubik Wet Paint", serif;
   }
*{
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}
html{
    background-color: bisque;
}